%p Dear #{@user.first_name},
%p #{@appointment.mentor.full_name(false)} has accepted your #{@appointment.is_video? ? 'video' : 'walk in'} counseling request. Your appointment will be on #{I18n.l @appointment.schedule_for, format: :long}.
- unless @appointment.is_video?
  %p
    %strong Location: 
    %span #{@appointment.location}
    %br
    = (link_to 'See Map', "https://www.google.com/maps/place/#{@appointment.latitude}+#{@appointment.longitude}/@#{@appointment.latitude},#{@appointment.longitude},17z") if @appointment.latitude

%p Kind Regards,
%p The #{link_to 'LoveRealm', root_url} team