%h2 Dear #{@user.full_name(false)},
%br
%p Over the past few weeks, the #{link_to "LoveRealm", root_url} team has been hard at work researching and building the best experience for LoveRealmers across the globe. In case you’ve forgotten, #{link_to "LoveRealm", root_url} is a fun social network which connects believers worldwide and provides resource to facilitate their growth. With over 50 new features, the new version of #{link_to "LoveRealm", root_url} makes it easier to share, interact with and connect with believers worldwide, thus growing in your faith. The features and improvements we’ve added include but not limited to:

%ul
%li Real time Features (Loves, Comments, Loves)
%li Dr. Love (A unique chatbot which connects users together in other to enable them make friends and possible Godly long term partners.) 
%li Stickers and Emoticons
%li Performance and Speed Improvements
%li Security fixes 
%li Ability to @Mention Users 
%li Video Support
%li Improved app notification system
%li Live Chat
%li Improved daily devotion and welcome message
%li Verified Checkmark
%li Ask a question
%li Birthday Reminders
%li Minor Bug fixes and improvements

%li You really don’t want to miss out do you?? #{link_to 'Please download the latest version on the google play store', 'https://play.google.com/store/apps/details?id=com.loverealm.loverealmmobile'} or check out the web version at www.loverealm.com. We hope you enjoy the new experience.
%br
%li God bless you, 
%li The team at #{link_to "LoveRealm", root_url}