%p Dear #{@user.first_name},

- if @payment.goal == 'tithe'
  %p 
    Your Tithe of #{number_to_currency @payment.amount} to #{@payment.payable.name} has been successfully processed. 
    %strong Malachi 3:10 says:
    %i “Bring the whole tithe into the storehouse, that there may be food in my house. Test me in this,” 
    says the LORD Almighty, 
    %i “and see if I will not throw open the floodgates of heaven and pour out so much blessing that you will not have room enough for it.”

- else
  %p 
    Your #{(@payment.goal || 'payment').titleize} of #{number_to_currency @payment.amount} to #{@payment.payable.name} has been successfully processed. 
    %strong Proverbs 11:25 
    %i says that A generous person will prosper; whoever refreshes others will be refreshed.

%p God richly bless you!
%p The Team at #{link_to "LoveRealm", root_url}.