%p The single most important thing that Christians can relate to is the display of unadulterated unconditional love to the world.
%p This love has set the tone for who we are today, as scripture says in John 15:13: Greater love has no man than this, that one lays down his life for his friends.
%p May you extend the love of God to all around you on this day of Valentine.
%p PS: 
%p 1. In view of the Val's day, we've released minor updates to the #{link_to "loverealm", root_url} Christian social networks app. This includes threaded comments, custom artworks for the daily greeting message, etc. Please update the #{link_to "loverealm", root_url} app #{link_to "here", 'www.loverealm.com/dl'}.
%p 2. Congrats to Margaret Gorni for winning the #LoveRealmChallenge. She's having a luxury dinner with the #{link_to "LoveRealm", root_url} team tonight.
%p
%p Kind Regards,
%p The Team at #{link_to "LoveRealm", root_url}
