%h2 Dear #{@user.full_name(false)},

%p We over the past few weeks noticed that you’ve been missing in action on #{link_to "LoveRealm", root_url}, the Christian social network. In case you’ve forgotten, #{link_to "LoveRealm", root_url} is a fun social network which connects believers worldwide and provides resource to facilitate their growth. We, along with the entire community on #{link_to "LoveRealm", root_url} have really missed you and we really want you back on our platform. 

%p Whilst you were away, we added lots of exciting and cool things to #{link_to "LoveRealm", root_url}, including: stickers/emojis, video support, live chat, improved notification system and lots of other thrilling things. We’ve even gone all the way to add a personal assistant who will not only help you in your walk with God, but also enable you make more friends on #{link_to "LoveRealm", root_url}, including the possibility of long term Christian relationships.

%p Please join the action again by downloading the latest version of the app on the play store, or simply logging into the app at #{link_to "www.loverealm.com", root_url}. We hope you have a better experience now and grow in your walk with God as you use the #{link_to "LoveRealm", root_url} app.


%p God bless you so much,
%p The team at #{link_to "LoveRealm", root_url}.