- if activity.trackable.present?
  = render layout: 'public_activity/layout', locals: {activity: activity} do
    .media-left= user_avatar_widget activity.owner, 50, activity.created_at
    .media-body
      .media-heading
        = link_to_user(activity.owner, {class: 'user-name', time: activity.created_at})

      .notification-text
        You have received a counseling request for #{I18n.l activity.trackable.schedule_for, format: :long}.

    .media-right.small
      %time.nowrap
        = time_ago_in_words(activity.created_at)
        &nbsp;ago
