%p
  City: 
  %span #{user.the_city}
%p
  Education: 
  %span #{user.the_education}  
%p
  Ethnicity: 
  %span #{user.the_ethnicity}  
%p
  Profession: 
  %span #{user.the_profession}  
%p
  Denomination: 
  %span #{user.the_denomination}