= render layout: 'public_activity/layout', locals: {activity: activity} do
  .media-left= user_avatar_widget activity.owner, 50, activity.created_at
  .media-body
    .media-heading
      = link_to_user(activity.owner, {class: 'user-name', time: activity.created_at})
    .notification-text
      Posted in your #{link_to_user(activity.recipient, {label: 'profile', time: activity.created_at})}.
  .media-right.small
    %time.nowrap
      = time_ago_in_words(activity.created_at)
      &nbsp;ago