.validating-form
  = simple_form_for @report, html:{remote: true, class: 'ujs_hide_modal'} do |f|
    = f.label :description, "Report Message"
    = f.input :description, as: :text, label: false, required: true
    = f.input :target_id, as: :hidden, required: true, :input_html => { :value => @report.target_id }
    = f.input :target_type, as: :hidden, required: true, :input_html => { :value => @report.target_type }
    .form-group
      = button_tag 'Send Report', class: 'btn btn-primary', 'data-disable-with' => button_spinner('Reporting...')